@import "@/styles/variables.scss";
@font-face {
  font-family: "Yellowtail";
  src: url("/fonts/Yellowtail-Regular.ttf") format("ttf");
}
.signUpPageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.signUpCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 80px;
}
.title {
  color: #333;
  position: relative;
  display: inline-block;
  font-family: "Yellowtail";
  font-weight: 400;
  margin: 0;
}
.subtitle {
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.signUpCard {
  transition: 0.3s all ease-in-out;
}

.signUpCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media (max-width: 580px) {
  .card {
    width: 400px !important;
  }
  .input {
    width: 200px !important;
  }
  .signUp {
    width: 250px !important;
  }
  .signUpMenu {
    width: 250px;
  }
}
@media (max-width: 480px) {
  .card {
    width: 280px !important;
  }
}

@media (max-width: $tablet) {
  .signUpCard {
    margin-top: 20px;
  }
}
