@import "@/styles/variables.scss";
// container
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #ebecf1;
}

// search
/* Ellipse 12 */

.search_bar {
  position: relative;
  margin-left: 35px;
}
.search_group {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.alarm,
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $grey-color;
  margin-left: 35px;
}

.header {
  width: 100%;
  height: 130px;
  display: flex;
}
.search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 18px;
}
.username {
  margin-left: 35px;
}
