@import "@/styles/variables.scss";
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #ebecf1;
}
.calendar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar > div {
  width: 50%;
}

// modal
.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_time {
  border: none;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.modal_h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 22px;
}
.modal_moodIcon_wrapper {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}
.iconBox > svg {
  cursor: pointer;
}
.iconBox > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
.modal_moodIcon_selected {
  transform: scale(1.2);
  transition: transform 0.2s;
}
.modal_next_button {
  cursor: pointer;
  background-color: #e6e6e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  left: 35%;
  margin-top: 20px;
  transition: 0.3s all ease-in-out !important;
}
.modal_next_button:hover {
  color: white !important;
  background-color: $primary-color !important;
}
.modal_close_button {
  cursor: pointer;
  background-color: #e6e6e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  right: 35%;
  margin-top: 20px;
  transition: 0.3s all ease-in-out !important;
}
.modal_close_button:hover {
  color: white !important;
  background-color: $primary-color !important;
}

// next-modal
.nextModal_h1 {
  font-size: 22px;
  margin: 0;
}
.nextModal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nextModal_plusIcon {
  cursor: pointer;
}
.nextModal_plusIcon:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.datePickerBox {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.pickerLabel {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
.moodPicker {
  text-align: center;
}
.iconBox {
  display: flex;
  gap: 10px;
}

//stepTwo
.filterPostList {
  list-style: none;
  padding: 0;

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    gap: 8px;

    span {
      margin-right: 10px;
      font-size: 10px;
      color: $grey-color;
    }

    &:hover {
      background-color: $primary-color;
      box-shadow:
        0 5px 5px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
.prevButton {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out !important;
  &:hover {
    color: $primary-color;
  }
}

.modal_close {
  display: none;
}
