.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #ebecf1;
}
.calendar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar > div {
  width: 50%;
}

// modal
.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_time {
  border: none;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.modal_h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.modal_moodIcon_wrapper {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}
.modal_moodIcon_wrapper > svg {
  cursor: pointer;
}
.modal_moodIcon_wrapper > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
.modal_moodIcon_selected {
  transform: scale(1.2);
  transition: transform 0.2s;
}
.modal_next_button {
  cursor: pointer;
  background-color: #e6e6e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  left: 35%;
}
.modal_next_button:hover {
  background-color: #f5f5f5;
}
.modal_close_button {
  cursor: pointer;
  background-color: #e6e6e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  right: 35%;
}
.modal_close_button:hover {
  background-color: #f5f5f5;
}

//modal-datepicker
.react-datepicker__input-container {
  border: none !important; // 기존 스타일 덮어쓰기
  width: 105px !important;
  cursor: pointer !important;
  margin-bottom: 30px;
}

// next-modal
.nextModal_h1 {
  font-size: 1.5rem;
}
.nextModal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nextModal_plusIcon {
  cursor: pointer;
}
.nextModal_plusIcon:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
