@import "@/styles/variables.scss";

.homeContainer {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 100px;
}

@media (max-width: $desktop) {
  .homeContainer {
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: $tablet) {
  .homeContainer {
    flex-direction: column;
  }
}
