@import "@/styles/variables.scss";

.userSectionContainer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.userNickname {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.avatarWrapper {
  box-sizing: border-box;
}
.editProfileLink {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary-color;
  color: $white;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}
.editProfileLink:hover {
  background-color: $primary-color-hover;
}
.userEmail {
  margin: 0;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  color: $grey-color;
}
.editProfileButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $border-color;
  color: $white;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: all 0.2s;
}
.editProfileButton:hover {
  background-color: $primary-color-hover;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
@media (max-width: $tablet) {
  .userSectionContainer {
    border-right: none;
  }
}
