@import "@/styles/variables.scss";

.userSectionContainer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding-left: 4rem;
  padding-right: 4rem;
}

.userNickname {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.avatarWrapper {
  position: relative;
}
.editProfileLink {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary-color;
  color: $white;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}
.editProfileLink:hover {
  background-color: $primary-color-hover;
}
.userEmail {
  margin: 0;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  color: $grey-color;
}
