@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.fc-daygrid-day-top {
  display: flex !important;
  flex-direction: row !important;
}
.fc .fc-button-primary {
}
.fc .fc-button-group {
  gap: 1px !important;
}
.fc-toolbar-chunk {
  display: flex !important;
  /* margin-top: 20px !important; */
  align-items: center !important;
  justify-content: center;
}

.fc-prev-button {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 10px !important;
}
.fc-next-button {
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 10px !important;
}
.fc-toolbar-title {
  margin: 0 !important;
}

.fc-header-toolbar > * {
  flex: 1 !important; /* 각 버튼이 동일한 비율로 공간 차지 */
  text-align: center !important; /* 버튼 텍스트 중앙 정렬 */
  margin-top: 25px !important;
}
/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}
.fc-theme-standard {
  border-radius: 10px !important;
}
.fc-h-event {
  border: none !important;
}
.event-content {
  /* 기본 스타일 */
  padding: 3px;
  border-radius: 4px;
  border: none;
  margin-left: 3px;
  display: flex;
  gap: 5px;
}
.event-content.priority-low {
  background-color: #ffd6d6 !important;
}

.event-content.priority-medium {
  background-color: #ff9999 !important;
}

.event-content.priority-high {
  background-color: #990e17 !important;
}
.fc-h-event {
  background: none !important;
}
.calendar {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;

  :global(.fc) {
    flex-grow: 1;
  }
}
.fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.fc-event-time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fc-theme-standard {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.event-content i {
  font-style: normal !important;
  font-family: "Pretendard-Regular", sans-serif !important;
}
.fc-daygrid-more-indicator {
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 4px;
  margin-top: 2px;
}
.fc-popover {
  padding: 30px !important;
  border-radius: 10px !important;
}
.fc-popover-header {
  background-color: white !important;
}
.fc-popover-title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
.fc-daygrid-day-frame {
  min-height: 120px !important;
}
@media (max-width: 768px) {
  .event-content b {
    display: none;
  }
  .fc-event-end {
    margin: 0 !important;
  }
  .fc-direction-ltr .fc-daygrid-event.fc-event-start,
  .fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 0 !important;
  }
  .event-content {
    margin: 0;
  }
  .event-content i {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .fc-event-title {
    font-size: 0.8em; /* 폰트 크기를 줄입니다 */
  }
  .fc-toolbar-title {
    font-size: 1rem !important;
    white-space: nowrap;
  }
  .fc-button-group {
    display: none !important;
  }
  .fc-prev-button {
    border-radius: 50% !important;
  }
  .fc-next-button {
    border-radius: 50% !important;
  }
  .fc-daygrid-day-bottom {
    a {
      font-size: 0.8em;
    }
  }
  .fc-daygrid-day-frame {
    min-height: 70px !important;
    max-height: 70px !important;
  }
}
