.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: red;
  background: #ecf0f3;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
}
