@import "@/styles/variables.scss";
.modal_close {
  display: none;
}
.nextModal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nextModal_h1 {
  font-size: 22px;
  margin: 0;
}
.nextModal_plusIcon {
  cursor: pointer;
}
.nextModal_plusIcon:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
.filterPostList {
  list-style: none;
  padding: 0;

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    gap: 8px;

    span {
      margin-right: 10px;
      font-size: 10px;
      color: $grey-color;
    }

    &:hover {
      background-color: $primary-color;
      box-shadow:
        0 5px 5px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
.prevButton {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out !important;
  &:hover {
    color: $primary-color;
  }
}

.sortButton {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out !important;
  &:hover {
    color: $primary-color;
  }
}

@media screen and (max-width: $tablet) {
  .modal {
    padding: 0;
  }
  .nextModal_header {
    margin-top: 25px;
    margin-bottom: 0px;
    justify-content: center;
    gap: 20px;
  }
  .nextModal_h1 {
    font-size: $font-size-l;
  }
  .filterPostListContainer {
    margin: auto;
    width: 90%;
  }
  .prevButton {
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 20px;
  }
  .filterPostListContainer_p {
    text-align: center;
  }
}
