.fc-daygrid-day-top {
  display: flex !important;
  flex-direction: row !important;
}
.fc .fc-button-primary {
  background-color: #fe9a8a !important;
  border-color: white !important;
}
.fc .fc-button-group {
  gap: 1px !important;
}
.fc-toolbar-chunk {
  display: flex !important;
  /* margin-top: 20px !important; */
  align-items: center !important;
  justify-content: center;
}

.fc-prev-button {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 10px !important;
}
.fc-next-button {
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 10px !important;
}
.fc-toolbar-title {
  margin: 0 !important;
}

.fc-header-toolbar > * {
  flex: 1 !important; /* 각 버튼이 동일한 비율로 공간 차지 */
  text-align: center !important; /* 버튼 텍스트 중앙 정렬 */
  margin-top: 25px !important;
}
/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}
.fc-theme-standard {
  border-radius: 10px !important;
}
.fc-h-event {
  border: none !important;
}
.event-content {
  /* 기본 스타일 */
  padding: 3px;
  border-radius: 4px;
  border: none;
  margin-left: 3px;
  display: flex;
  gap: 5px;
}
.event-content.priority-low {
  background-color: #e6f3ff !important;
}

.event-content.priority-medium {
  background-color: #fe9a8a !important;
}

.event-content.priority-high {
  background-color: #ffe6e6 !important;
}
.fc-h-event {
  background: none !important;
}
.calendar {
  height: 100%;

  :global(.fc) {
    height: 100%;
  }

  :global(.fc-view-harness) {
    height: auto !important;
  }

  :global(.fc-daygrid-event) {
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.fc-event-time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
