@import "@/styles/variables.scss";
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  font-size: $primary-font-size;
  color: $primary-color;
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}
.p {
  text-align: center;
  font-size: $paragraph-font-size;
  font-weight: 400;
}
.p:nth-child(2) {
  margin-top: 30px;
}
.p:nth-child(3) {
  margin-top: 10px;
}
.color_pallette {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
.pallette {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon {
  width: auto;
  height: auto;
}
