// Used in UserSection.module.scss
$alarm-icon-color: rgb(255, 119, 119);

// basic color
$primary-color: #fe9a8a;
$primary-color-hover: rgb(255, 119, 119);
$grey-color: #838383;
$grey-color-hover: #292929;
$input-color: #f7f1f0;
$white: #ffffff;
$container-background-color: #f9f9f9;
$black: #000000;
$border-color: #e0e0e0;
// Used in FeatureItem.module.scss
$feature-item-description-color: #666;
$error-color: #ff7f50;
