// basic font size
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
// basic font weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// Used in UserSection.module.scss
