@import "@/styles/typography.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/layout.scss";
@import "@/styles/colors.scss";

$primary-font-size: 24px;
$paragraph-font-size: 14px;
$white: white;
$grey-line: #e5e5e5;
$button-primary-color: #fe9a8a;
$button-border-color: black;
$hover-background-color: #838383;
$aside-text-color: white;
$black: black;
@font-face {
  font-family: "YellowTail";
  src: url("/fonts/Yellowtail-Regular.ttf") format("truetype");
}
