.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f7f1f0;
}
.next_button:hover {
  background-color: #838383 !important;
  transition: 0.1s all ease-in-out !important;
}
.next_button:active {
  scale: 0.9;
}
.logoCut {
  position: absolute;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.title {
  padding-bottom: 50px;
  font-size: 1.2rem;
}
.subtitle_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtitle {
  padding-bottom: 10px;
}
.signup_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.login_button:hover {
  background-color: #838383 !important;
  transition: 0.1s all ease-in-out !important;
}
.signup_button:hover {
  background-color: #838383 !important;
  transition: 0.1s all ease-in-out !important;
}
