@import "@/styles/variables.scss";

.signUpFooter {
  font-weight: 700;
  font-size: $font-size-xs;
  margin-top: 40px;
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginLink {
  text-decoration: none;
  color: $primary-color;
  font-weight: $font-weight-bold;
  transition: 0.1s all ease-in-out !important;

  &:hover {
    color: $primary-color-hover !important;
  }
}

.forgotPasswordLink {
  text-decoration: none;
  color: $grey-color;

  &:hover {
    color: $grey-color-hover !important;
  }
}
@media (max-width: $tablet) {
}
