.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.warning {
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff5f5;
  border: 1px solid #ffa8a8;
  border-radius: 4px;
}

.todoList {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.todoItem {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &::before {
    content: "•";
    color: #4caf50;
    font-size: 1.5em;
    margin-right: 10px;
  }

  justify-content: space-between; // 내용과 삭제 버튼을 양쪽으로 정렬

  span {
    flex-grow: 1; // 텍스트가 버튼을 밀어내지 않도록 함
  }
}

.emptyList {
  text-align: center;
  color: #6c757d;
  font-style: italic;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px dashed #ced4da;
}

.inputContainer {
  display: flex;
  align-items: stretch; // 자식 요소들의 높이를 동일하게 맞춤
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; // 리스트와의 간격을 위해 추가
}

.input {
  flex-grow: 1; // 남은 공간을 모두 차지하도록 설정
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px; // 글자 크기 지정
}

.button {
  padding: 10px 20px; // 좌우 패딩 증가
  background-color: #4caf50; // 버튼 배경색 추가
  color: white; // 버튼 텍스트 색상
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; // 글자 크기 지정
  white-space: nowrap; // 텍스트가 한 줄로 유지되도록 설정
  display: flex;
  align-items: center; // 세로 중앙 정렬
  justify-content: center; // 가로 중앙 정렬
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c82333;
  }
}
