// basic font size
$font-size-xxl: 2rem; // 32px
$font-size-xl: 1.5rem; // 24px
$font-size-l: 1.125rem; // 18px
$font-size-m: 1rem; // 16px
$font-size-s: 0.875rem; // 14px
$font-size-xs: 0.75rem; // 12px
// basic font weight
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-family-yellowtail: "Yellowtail-Regular";
$font-family-pretendard: "Pretendard-Regular";
// Used in UserSection.module.scss
@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("/fonts/Yellowtail-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
