.container {
  min-width: 250px;
  min-height: 100vh;
  background: #ffffff;
  border-radius: 0 15px 15px 0;
}
/* Rectangle 38 */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
