@import "@/styles/variables.scss";

.mypageContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: $white;
  transition: all 0.2s;
}

@media (max-width: $tablet) {
  .mypageContainer {
    flex-direction: column;
    margin-top: 50px;
  }
}
