.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 예: 화면 중앙에 위치시키기 위해 */
}

.load_man {
  -webkit-animation: load_man_travel 1.2s infinite linear;
  animation: load_man_travel 1.2s infinite linear;
  background: repeating-linear-gradient(
    90deg,
    #ffcc00,
    /* var(--secondary) 대신 기본 색상 사용 */ #ffcc00 5%,
    transparent 5%,
    transparent 35%
  );
  height: 10px;
  left: 50%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 200px;
  transform: translate(-50%, -50%); /* 중앙에 위치시키기 위해 추가 */
  z-index: 10; /* 다른 요소 위에 표시되도록 설정 */
}

.load_man:after,
.load_man:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  border: 25px solid #ffcc00; /* var(--primary) 대신 기본 색상 사용 */
  border-radius: 100%;
  margin-top: -25px;
}

.load_man:before {
  --close: -90;
  -webkit-animation: load_man_chomp 0.35s infinite linear;
  animation: load_man_chomp 0.35s infinite linear;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.load_man:after {
  --close: 0;
  -webkit-animation: load_man_chomp 0.35s infinite linear;
  animation: load_man_chomp 0.35s infinite linear;
  border-right-color: transparent;
  border-top-color: transparent;
}

@-webkit-keyframes load_man_travel {
  to {
    background-position: -200px 0;
  }
}

@keyframes load_man_travel {
  to {
    background-position: -200px 0;
  }
}

@-webkit-keyframes load_man_chomp {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(calc(var(--close) * 1deg));
    transform: rotate(calc(var(--close) * 1deg));
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes load_man_chomp {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(calc(var(--close) * 1deg));
    transform: rotate(calc(var(--close) * 1deg));
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
