@import "@/styles/variables.scss";
.header {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 44px;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  width: 100%;

  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.header > li > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.TopBox {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.logo {
  cursor: pointer;
}
.logo:hover {
  scale: 1.05;
  transition: all 0.05s ease;
}
.nav {
  padding-right: 40px;
  display: flex;
}
.navList {
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  gap: 50px;
  a {
    color: black;
    text-decoration: none;
  }
}
.navList > li > a:hover {
  color: $primary-color;
  transition: all 0.2s;
}
.buttonBox {
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.signupLink:hover {
  color: $primary-color;
  transition: all 0.2s;
}

.loginButton {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 19px;
  padding: 10px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  transition: background-color 0.2s linear; /* Only transition background color */
}

.loginButton:hover {
  background-color: $primary-color;
  border-color: $primary-color; /* Use border-color instead of border to avoid changing the border width */
  color: $white;
}
.logoutButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.headerShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

//menu
.menu {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 64px;
  a {
    text-decoration: none;
    color: black;
  }
}
.menuItem {
  position: relative;
  cursor: pointer;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: dropdownAnimation 0.3s forwards;
  a {
    text-decoration: none;
    color: black;
  }
}
.dropdownMenu li {
  padding: 10px;
  opacity: 0;
  animation: dropdownItemAnimation 0.5s forwards;
}

.dropdownMenu li:nth-child(1) {
  animation-delay: 0.1s;
}

.dropdownMenu li:nth-child(2) {
  animation-delay: 0.2s;
}
@keyframes dropdownItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dropdownMenu li {
  padding: 10px;
}
@media (max-width: 575px) {
  .header {
    font-size: 11px;
    transition: 0.3s;
  }
  .logoLink {
    padding: 0;
  }
  .logo {
    padding-left: 0px;
    width: 100px;
    max-width: 100%; // 부모의 너비를 초과하지 않도록 설정
    max-height: 100%; // 부모의 높이를 초과하지 않도록 설정
  }
  .nav {
    padding-right: 20px;
  }
  .navList {
    gap: 10px;
  }
  .buttonBox {
    gap: 10px;
  }
}
