@import "@/styles/variables.scss";
@font-face {
  font-family: "Yellowtail";
  src: url("/fonts/Yellowtail-Regular.ttf") format("ttf");
}
.loginPageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 80px;
}
.title {
  color: #333;
  position: relative;
  display: inline-block;
  font-family: "Yellowtail";
  font-weight: 400;
  margin: 0;
}
.subtitle {
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.loginCard {
  transition: 0.3s all ease-in-out;
}

.loginCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media (max-width: $tablet) {
  .loginCard {
    margin-top: 20px;
  }
}
