@import "@/styles/variables.scss";
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $input-color;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 50px;
}
.login_header h1 {
  font-style: normal;
  font-weight: 700;
  color: $primary-color;
  font-size: 24px;
  line-height: 24px;
}

.login_header p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $grey-color;
  padding-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  margin-top: 10px;
}

.input {
  width: 320px;
  height: 50px;
  background: $input-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding-left: 50px;
}

.pw_input {
  width: 320px;
  height: 50px;
  background: $input-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding-left: 50px;
}

.input_box {
  position: relative;
}
.icon {
  position: absolute;
  top: 16px;
  left: 15px;
}
.eye_icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.signUp {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: $primary-color !important;
  font-weight: 700;
  transition: 0.1s all ease-in-out !important;
}
.signUp:hover {
  color: white !important;
  background-color: $primary-color !important;
}
.login {
  margin-top: 20px;
  text-decoration: none;
  color: $primary-color;
  font-weight: 700;
  transition: 0.1s all ease-in-out !important;
}
.login:hover {
  color: $primary-color-hover !important;
}
.forgot {
  margin-top: 10px;
  text-decoration: none;
  color: $grey-color;
}
.forgot:hover {
  color: $grey-color-hover !important;
}
